body {
	background-image: url("../images/starwars.jpg");
}

.character {
	background-color: green;
}

.heading, .enemies {
	color: white;
}

.opacity {
	background-color: white;
	opacity: 0.9;
	padding: 5px;
	padding-left: 10px;
}

h1, h2, h3, h4 {
	font-family: 'Audiowide', sans-serif;
}